.recipeDiv {
    margin: 10px;
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.recipeCard {
    height: 100%;
    max-width: 80%;
    display: flex;
    justify-content: left;
    border: 1px solid black;
    background-color:rgb(65, 65, 65);
}

.recipeContainer {
    margin-top:10%;    
    margin-left:10%;
}





